body{
    background-color: rgb(172, 152, 152);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.25s ease-in-out;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: hsl(206, 34%, 20%);
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.header-top .logo {
  margin-inline: auto;
}

.header-top .logo img {
  max-width: 100px;
}

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.nav-open-btn {
  font-size: 30px;
  color: inherit;
  background: none;
  border: none;
}

.header-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: white;
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
  transition: 0.25s ease-in-out;
}

.social-link:hover {
  background: hsla(0, 0%, 100%, 0.2);
}

.navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: white;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.navbar-top .logo img {
  width: 150px;
}

.nav-close-btn {
  font-size: 20px;
  color: hsl(214, 57%, 51%);
  background: none;
  border: none;
}

.navbar-list {
    color: ivory;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-list li {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-link {
  padding: 15px 20px;
  color: hsl(0, 0%, 20%);
  font-weight: 500;
  font-size: 15px;
  transition: 0.25s ease-in-out;
  text-transform: capitalize;
}

.navbar-link:hover {
  color: hsl(214, 57%, 51%);
}

.overlay {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: 0.25s ease-in-out;
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

.btn {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 100px;
  padding: 8px 18px;
  border: 2px solid transparent;
  background: hsl(214, 57%, 51%);
  transition: 0.25s ease-in-out;
}

.btn:hover {
  background: hsl(214, 72%, 33%);
  border-color: hsl(214, 72%, 33%);
}
